<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="icon" type="image/x-icon" href="../img/icon3.jpg" />
    <title>Tic-Tac Toe</title>
  </head>
  <body>
    <div class="header">
      <div>
        <%if (user) {%>
        <form action="/logout?_method=DELETE" method="post">
          <button type="submit" class="logging">logout</button>
        </form>
        <p class="username" id="username"><%user.username%></p>
        <%} else{%>
        <button
          type="button"
          class="logging"
          onclick="location.href = '/auth/login';"
        >
          login
        </button>
        <%}%>
      </div>
      <a href="#">
        <div class="profile-icon">
          <img src="../img/profile-svgrepo-com.svg" alt="" /></div
      ></a>
    </div>
    <div class="container">
      <div class="title">TIC-TAC TOE</div>
      <div class="announcer">
        <div class="winnner">
          <img src="img/circle.png" class="winner-img" />
        </div>
        <h2 class="message"></h2>
        <div class="btn-replay">
          <button class="replay" id="replay" onclick="replay()">REPLAY</button>
        </div>
      </div>
      <div class="wrapper">
        <button class="s11" id="square" onclick="makeMove(this)"></button>
        <button class="s12" id="square" onclick="makeMove(this)"></button>
        <button class="s13" id="square" onclick="makeMove(this)"></button>
        <button class="s21" id="square" onclick="makeMove(this)"></button>
        <button class="s22" id="square" onclick="makeMove(this)"></button>
        <button class="s23" id="square" onclick="makeMove(this)"></button>
        <button class="s31" id="square" onclick="makeMove(this)"></button>
        <button class="s32" id="square" onclick="makeMove(this)"></button>
        <button class="s33" id="square" onclick="makeMove(this)"></button>
      </div>
      <div class="invite-poppup">
        <p class="invite-txt">Invite a friend</p>

        <div class="invite-box">
          <label for="usernameBox" class="invite-username">Username</label>
          <input type="text" class="username-box" id="usernameBox" />
          <button
            type="button"
            class="invite-btn"
            id="invite-btn"
            onclick="invitePlayer()"
          >
            invite
          </button>
        </div>
        <p class="username-flag">Player not found</p>
      </div>
    </div>
  </body>
  <!-- <script type="importmap">
    {
      "imports": {
        "socket.io-client": "https://cdn.socket.io/4.4.1/socket.io.esm.min.js"
      }
    }
  </script>
  <script type="module" src="/getSocket.js"></script>
  <script src="/socket.io/socket.io.js"></script> -->
  <script src="/main.js"></script>
</html>
